@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective-1000 {
  perspective: 1000px;
}
.rotate-y-180 {
  transform: rotateY(180px);
}
.preserve-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.my-rotate-y-180 {
  transform: rotateY(180deg);
}